/*Подключение*/
@import url(./fonts.css);
@import url(./animations.css);
@import url(./variables.css);

/*сборс веб настроик*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -.011em;
}

html,body{
    height: auto;
}

body{
    background-color: var(--dark) ;
    color: #fff;
    font-family: Montserrat-s, sans-serif;/* шрифт*/
    min-width: 320px; /* Мин размер для гаджета */


}

a{
    text-decoration: none;
    color: #fff;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    width: calc(1360px + 30px);
    max-width: 100% ;
}



.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  pointer-events: none;
  z-index: 100;
}

.top-line {
  display: flex;
  gap: 50px;
}

.top-line__left {
  width: 20%;
  display: flex;
  align-items: center;
}
.top-line__left {
  width: 20%;
  display: flex;
  align-items: center;
}


.top-line__center{
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
}

.top-line__right{
    width: 20%;
    display: flex;
    gap:5px;
    justify-content: flex-end;
    align-items: center;

}

.top-mnu{
    background-color: rgba(255,255,255,.05);
    border-radius: var(--radius);
    padding: 4px;

    
}

.top-mnu ul {
    display: flex;
    gap: 2px;
}

.top-mnu a {
    position: relative;
    font-size: 16px;
    line-height: 120%;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 17.5px;

    border-radius: var(--radius);
    min-width: 100px;
}


.top-mnu a::before{
    content: '';
    position: absolute; 
    inset: 0;
    background-color: rgba(255,255,255,.05);
    transform: scale(.925);
    transition: var(--transition);
    opacity: 0;
    border-radius: var(--radius);
}

.top-mnu a:hover::before{
    opacity: 1;
    transform: scale(1);/*увеличние элемента*/
   
}


.top-mnu a::after{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-1);
    background-clip:text ;
    -webkit-text-fill-color: transparent;
    content: attr(data-text);
    opacity: 0;
    transition:var(--transition);

}

.top-mnu a:hover::after{
    opacity: .5;
}

.logo,.top-mnu , .mnu-button{
    pointer-events: auto;
}



/*БутерБрод Menu*/

.main-menu{
    opacity: 0;
    visibility: hidden; /*делает элемент невидимым*/
    position: fixed;

    /*Создание поля где содерж меню*/
    top: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 7;
    width: 815px;
    overflow-y: auto;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(30px); /* Размытие*/
    transform-origin:right top ;
    border-radius: 10px;
    pointer-events: auto;
    transform: scale(0) translate(0,0) rotate(.001deg);   /* чтобы не было проблем в будущем с анимацией*/
    transition: var(--transition-mnu);
}

/* появление меню */
.main-menu.active {
    transform: scale(1) translate(0,0) rotate(.001deg);
    opacity: 1;
    visibility: visible;
}




/* настройка внутри бутера 1 */
.main-menu__inner {
    padding: 76px 40px 80px;
    display: flex;
    gap: 50px;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
/* настройка внутри бутера 2 */
.main-menu__inner li {
    position: relative;  /* Расположение внутренних эл в нужном образе */

}
/* настройка внутри бутера 3 */
.main-menu__inner li  a{
    font-size: 60px;
    font-weight: 300;
    line-height: 143%;
    display: block;
    position: relative;
    transition: var(--transition);
    border-bottom: 1px solid rgba(255,255,255,.1) ; /*нижняя черта над выбором в бутере */

}

/* анимация  border-bottom под каталогом мелкает цветом --gradient-1*/
.main-menu__inner a span{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
    background: var(--gradient-1);
    opacity: .3;
}

.main-menu__inner a:hover span{
    transform-origin: left;
    transform: scaleX(1);
}

/*текст градиент */
.main-menu__inner a::after {
    content:  attr(data-text);
    position: absolute;
    left: 0;
    background: var(--gradient-1);
    background-clip: text ;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: 1;
    transition: var(--transition);
}
/*При навидении появляется у текста обводка градиент*/
.main-menu__inner a:hover::after {
    opacity: .5;
}

.mnu-button__menu{
    width: 60px;
    height: 60px;
    background-color:rgba(255, 255, 255,.05);
    border-radius: var(--radius);
    border: none;/*убирает у кнопки белый на краях обводку*/
    cursor: pointer;
    z-index: 10;

    /* настройка полосы этой в кнопке*/
    position: relative;/* опеределить позецианирование */
    display: flex; /* доступ свободный*/
    align-items: center;/* центр по вертикале */
    justify-content: center;/*центр по горинт */
    flex-direction: column; /*друг над другом черточки белые*/
    gap: 5px;

    /*фильтр */
}

.mnu-button__menu span {
    width: 22px;
    height: 2px;
    background: #fff;
    display: block;
    border-radius:var(--radius);
    transition: var(--transition-mnu);
}


 /*Анимация как две палочки съезжаются в Бутер-Меню */
.mnu-button__menu:hover span:nth-child(1){
    transform:  translateY(1px);
}

.mnu-button__menu:hover span:nth-child(2){
    transform:  translateY(-1px);
}

.mnu-button__menu::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-2);
    border-radius: var(--radius);
    z-index: -1;
    opacity: .3;
    transition: var(--transition);
    
}


.mnu-button__menu:hover::after{
    opacity: 1;

}



/*Крестик закрытие меню*/
/*Анимация когда класс active в JS  */
.mnu-button__menu.active span:first-child{
    transform: translateY(3px) rotate(45deg);

}
.mnu-button__menu.active span:last-child{
    transform: translateY(-4px) rotate(-45deg);
}


/* Оверлейд */
.main-menu-background {
    position: fixed;
    inset: 0;
    background-color:rgba(24,2,36,.85) ;
    display: flex;
    z-index: 5;
    pointer-events: auto; /* чтобы через Оверлейд  не просвечивался меню */
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

}

.main-menu-background.active {
    opacity: 1;
    visibility: visible;
}

/* Main menu img */
.accordion{
    display: flex;
    gap: 20px;
}

.accordion__col{
    position: relative;
    z-index: 1;
    height: 82vh;
    overflow: hidden;/* элементы не выходили за рамку */
    border-radius: 20px;
    display: flex;
    flex:1 ;
    align-items: center;
    min-width: 210px;
    cursor: pointer;
    transition: all 1s ;
}

.accordion__bg{
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 1s ;

}

.accordion__bg img {
    display: block;


}

.accordion__bg::after {
    content: '';
    position: absolute;
    inset: 0;
    background:#180224;
    opacity: .35;

}

[data-parallax-target]{
    height: 120%;
    width: 110%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    top:-10%;
    transform-origin: 50% 50% ;

}

.accordion__col.active{
    width: 100%;
    flex: 5;
}

.accordion__start{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 20px;
    transition: var(--transition);
    transition-delay: .3s;
}
.accordion__col.active .accordion__start {
    opacity: 0;
    transition-delay: .1s ;

}

.accordion__content{
    padding: 0px 88px;
}

.accordion__header{
    overflow: hidden;
    margin-bottom: 23px;
    padding-bottom: 10px ;
}

.accordion__header h2 {
    font-size: 100px;
    font-weight: 300;
    line-height: 92%;
    padding-bottom: 10px;
    margin-bottom: -10px;

    /*наложение градиента на названия */
    background: var(--gradient-3);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    opacity: 0;
    visibility: hidden;

    /* Анимация появления main меню */
    transform: translate(0 ,130%) rotate(10deg);
    transition: var(--transition);
    transition-duration: 1s;
}

/* убирает названия у не активых страниц где 3 главные фотографии  */
.accordion__col.active .accordion__header h2{
    opacity: 1;

    /* Анимация появления main меню */
    visibility: visible;
    transform: translate(0,0) rotate(0);
}

/* Настройка текста + убирание его когла не актив  */
.accordion__description {
    width: 383px;
    font-weight: 400;
    color: #ffeffd;
    font-size: 20px;
    line-height: 140%; /* меж строчный интервал */
    opacity: 0;

    transform: translate(0 ,20%);
    transition: var(--transition);
    transition-duration: 1s;
    font-kerning: normal;
}
/* появление текста когда она актив  */
.accordion__col.active .accordion__description{
    opacity: .8 ;
    transform: translate(0,0);
}

/* Тело продукта */
.gallery{
    margin-top: 120px;
    margin-bottom:  20px;
    padding-bottom: 120px;

}

.gallery__wrapper{

    display: grid;
    gap:20px;
    grid-template-columns:repeat(3,minmax(0,1fr));

}

.gallery__item{
    position: relative;
    height: 280px;
    border-radius: 20px;
    overflow: hidden; /*скрывает содержимое, выходящее за пределы рамок элемента*/

}

.section-head {
    margin-bottom: 50px ;
    display: flex;
    justify-content: space-between;
}

.section-head h2 {
    font-weight: 300;
    font-size: 80px ;
    line-height: 105%;


    background: var(--gradient-3);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;

}

.section-head__right{
    margin-top: 6px;
}

.btn-secondari{
    height: 60px;
    align-items: center;
    display: inline-flex;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    color: rgba(255,255,255,.5);
    border-radius: 10px;
    position: relative;
    transition: var(--transition);
}

.btn-secondari::after{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    border: 1px solid  rgba(255,255,255,.1); /*внешним видом границы элемента*/
    transition: var(--transition);

}

/* Анимация кнопки */

.btn-secondari:hover{
    color: transparent;
}

.btn-secondari:hover::after{
    background: rgba(255,255,255,.05);
    transform: scale(1.05); /* увеличение кнопки */
}

/* текст в кнопке Настройка 1 */
.btn-secondari span {
    position: relative;
}
/* текст в кнопке Настройка 2 */
.btn-secondari span::after{
    content: attr(data-text);/* дублирование текста */
    position: absolute;
    inset: 0;
    background: var(--gradient-1);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: var(--transition);
    opacity: 0;

}
/* текст в кнопке Настройка 3 при навидении появлется градиент у текста */
.btn-secondari:hover span::after{
    opacity: 1;
}
